.popup__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-width: 238px;
  padding: 0 0 13px 0;
  margin: auto;
  border: none;
  border-bottom: 1px solid #000000;
}

@media screen and (min-width: 1280px) {
  .popup__name {
    min-width: 358px;
  }
}
