.grid-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 19px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 0;
}

@media screen and (min-width: 550px) {
  .grid-card {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .grid-card__name {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
  }
}
