@import url(../vendor/normalize.css);

@import url(../fonts/Inter_Web/inter.css);

@import url(../blocks/body/body.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/grid-card/grid-card.css);
@import url(../blocks/grid-card/__caption/grid-card__caption.css);
@import url(../blocks/grid-card/__img/grid-card__img.css);
@import url(../blocks/grid-card/__like/grid-card__like.css);
@import url(../blocks/grid-card/__name/grid-card__name.css);

@import url(../blocks/grid-cards/grid-cards.css);
@import url(../blocks/grid-cards/__container/grid-cards__container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__header/popup__header.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_job.css);
@import url(../blocks/popup/__input/_type/popup__input_type_name.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__user-wrapper/profile__user-wrapper.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__photo/profile__photo.css);


.popup_2 {

  position: fixed;
  top: 50px;
  left: 0;
  /* background-color: hsla(0, 0%, 0%, 0.5); */
  /* width: 100%; */
  height: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  text-align: center;
  /* width: clamp(282px, 300px, 430px); */
  margin: auto;
  justify-content: center;
  align-items: center;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 281px 87px;
  /* display: none; */
  background-color: rgba(0, 255, 255, 0.568);
}

.grid-card {
  position: relative;
}

.grid-card__delete {
  background-image: url(../images/grid-card-thrash.svg);
  position: absolute;
  width: 18px;
  height: 19px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  right: 20px;
  top: 20px;
}



/* -- */
