@import url(../vendor/normalize.css);

@import url(../fonts/Inter_Web/inter.css);

@import url(../blocks/body/body.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/grid-card/grid-card.css);
@import url(../blocks/grid-card/__caption/grid-card__caption.css);
@import url(../blocks/grid-card/__img/grid-card__img.css);
@import url(../blocks/grid-card/__like/grid-card__like.css);
@import url(../blocks/grid-card/__name/grid-card__name.css);

@import url(../blocks/grid-cards/grid-cards.css);
@import url(../blocks/grid-cards/__container/grid-cards__container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-btn/popup__close-btn.css);
@import url(../blocks/popup/__header/popup__header.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_job.css);
@import url(../blocks/popup/__input/_type/popup__input_type_name.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__user-wrapper/profile__user-wrapper.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__photo/profile__photo.css);



.popup__input_type_card-url {
  margin: 30px auto 0;
}

.popup__input_type_card-name {
  margin: auto;
}



/* ////////////////////////////////// */

.popup_open-card {
  background-color: hsla(0, 0%, 0%, 0.9);
}

.popup__open-photo {
  background-color: transparent;
  position: relative;
}

@media screen and (min-width: 700px) {
  .popup__open-photo {
    min-width: 430px;
  }
}

.popup__img {
  display: block;
  box-sizing: border-box;
  max-width: 75vw;
  max-height: 75vh;
  /* aspect-ratio: initial; */
}

.popup__caption {
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  text-align: left;
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

/* ///////////////////////////////////// */


.grid-card {
  position: relative;
}

.grid-card__delete {
  background-image: url(../images/grid-card-thrash.svg);
  position: absolute;
  width: 18px;
  height: 19px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  right: 20px;
  top: 20px;
}




/* -- */
