@import url(../vendor/normalize.css);

@import url(../fonts/Inter_Web/inter.css);


.body {
  background-color: rgba(113, 133, 112, 0.9);
  /* background-color: rgb(0, 0, 0); */
  max-width: 768px;
  min-width: 320px;
  margin: auto;
}

@media screen and (min-width: 1280px) {
  .body {
    max-width: 1280px;
  }
}

/*? header-----header-----header-----header-----header-----header-----header-----header-----header*/
.header {
  border-bottom: 1px solid white;
}

.header__logo {
  width: 104px;
  height: 25px;
  padding: 28px 0 26px 27px;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 880px;
    margin: auto;
  }

  .header__logo {
    width: 142px;
    height: 33px;
    padding: 45px 0 41px 0;
  }

}

/*? profile-----profile-----profile-----profile-----profile-----profile-----profile-----profile*/

.profile {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
  text-align: center;
}

.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 41px auto 24px;
  object-fit: cover;
  object-position: center;
}

.profile__user-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". profile__name profile__edit-button"
    ". profile__job .";
  margin: auto;
}

.profile__name {
  grid-area: profile__name;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
}

.profile__edit-button {
  grid-area: profile__edit-button;
  align-self: center;
  padding: 0;
  margin-left: 10px;
  border: 1px solid #FFFFFF;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background-image: url(../images/profile-edit-button.svg);
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-color: transparent;
  background-position: center;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s ease-out;
}

.profile__job {
  grid-area: profile__job;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-top: 9px;
}

.profile__add-button {
  border: 2px solid rgb(255, 254, 254);
  margin: 25px auto 36px;
  padding: 23px 0;
  box-sizing: border-box;
  min-width: 282px;
  border-radius: 2px;
  background-image: url(../images/profile-add-button.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  background-color: transparent;
  /* line-height: 0; */
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease-out;
}


@media screen and (min-width: 1280px) {
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 200px;
  }

  .profile__photo {
    margin: 36px 0 47px 0;
  }

  .profile__user-wrapper {
    margin: 0;
    margin-right: auto;
    grid-template-columns: 30px 5fr 1fr;

  }

  .profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-align: left;
  }

  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-size: 10px 10px;
  }

  .profile__job {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }

  .profile__add-button {
    margin: 0;
    min-width: 150px;
    height: 50px;
    background-size: 22px 22px;
  }

}

/*? popup-----popup-----popup-----popup-----popup-----popup-----popup-----popup-----popup*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(0, 73%, 36%, 0.514);
  background-color: hsla(0, 0%, 0%, 0.514);
  width: 100%;
  height: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  text-align: center;
  /* width: clamp(282px, 300px, 430px); */
  margin: auto;
  justify-content: center;
  align-items: center;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 281px 87px;
  display: none;
}

.popup_opened {
  display: flex;
}

.popup__container {
  background-color: white;
  min-width: 282px;
  width: 430px;
  margin: 0 19px;
  border-radius: 10px;
  position: relative;
}

.popup__close-btn {
  position: absolute;
  top: -30px;
  right: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(../images/popup-close-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.popup__close-btn:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s ease-out;
}

.popup__header {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  padding: 25px 0 75px 0;
}

.popup__info {
  display: flex;
  flex-direction: column;
}

.popup__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-width: 238px;
  padding: 0 0 13px 0;
  margin: auto;
  border: none;
  border-bottom: 1px solid #000000;
}

.popup__job {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-width: 238px;
  margin: 30px auto 0;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px solid #000000;
}

.popup__submit {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  border: none;
  width: 238px;
  min-height: 46px;
  margin: 45px auto 25px;
  cursor: pointer;
}

.popup__submit:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.5s ease-out;
}

@media screen and (min-width: 1280px) {

  .popup__container {
    min-width: 430px;
    /* min-height: 330px; */
  }

  .popup__header {
    padding: 34px 0 54px 36px;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
  }

  .popup__close-btn {
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
  }

  .popup__name {
    min-width: 358px;
    }

  .popup__job {
    min-width: 358px;
  }

  .popup__submit {
    width: 358px;
    min-height: 50px;
    margin: 48px auto 37px;
    font-size: 18px;
    line-height: 22px;
  }
}

/*? grid-cards-----grid-cards-----grid-cards-----grid-cards-----grid-cards*/
.grid-cards {
  margin: 0 auto;
  /* padding: 0 19px; */
  min-width: 282px;
}

.grid-cards__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 19px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 0;
}

.grid-card__img {
  /* display: block; */
  width: 100%;
}

.grid-card__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 25px 21px;
}

.grid-card__name {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
}

.grid-card__like {
  background-image: url(../images/grid-card-heart.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  padding: 15px;
}

.grid-card__like:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

.grid-card__like:active {
  background-image: url(../images/grid-card-heart-active.svg);
  opacity: 1;
}

@media screen and (min-width: 550px) {
  .grid-cards__container {
    grid-template-columns: 1fr 1fr;
  }

  .grid-card {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .grid-cards {
    max-width: 880px;
  }

  .grid-cards__container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-card__name {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
  }
}

/*? footer-----footer-----footer----footer----footer*/
.footer {}

.footer__copyright {
  font-family: 'Inter', 'Arial', sans-serif;
  padding: 49px 19px 36px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 880px;
    margin: auto;
  }

  .footer__copyright {
    padding: 67px 0 60px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

111
